<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Meowtrix Rule Set" Description=" " ToolsVersion="14.0">
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0001" Action="None" />
    <Rule Id="CC0003" Action="None" />
    <Rule Id="CC0004" Action="None" />
    <Rule Id="CC0029" Action="None" />
    <Rule Id="CC0032" Action="Warning" />
    <Rule Id="CC0037" Action="None" />
    <Rule Id="CC0063" Action="None" />
    <Rule Id="CC0064" Action="None" />
    <Rule Id="CC0074" Action="None" />
    <Rule Id="CC0105" Action="None" />
  </Rules>
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="InconsistentNaming" Action="None" />
    <Rule Id="RECS0081" Action="None" />
    <Rule Id="RECS0091" Action="None" />
    <Rule Id="RECS0129" Action="None" />
    <Rule Id="RECS0145" Action="None" />
  </Rules>
</RuleSet>